<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2020/blob/master/day4/data_R_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice session
===
Data Analysis in R

##Warming up: review workding folder basics
*  R works best if you have a dedicated folder for each separate project - the working folder. Put all data files in the working folder (or in subfolders).

Show current working folder:

Create a new folder:

Go to the new folder:

Show current working folder:

##Case Study: 2019 Forbes Global list
*   The `forbes` dataset consists of 2000 rows (observations) on 8 variables describing companies’ rank, name, country, category, sales, profits, assets and market value. 
http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip
> * **`rank`** the ranking of the company
> * **`name`** the name of the company
> * **`country`** the country the company is situated in
> * **`category`** the products the company produces
> * **`sales`** the amount of sales of the company in billion USD
> * **`profits`** the profit of the company in billion USD
> * **`assets`** the assets of the company in billion USD
> * **`marketvalue`** the market value of the company in billion USD

# Step by step Data Analysis in R


1. Get data
2. Read data
3. Inspect data
4. Preprocess data (missing and dubious values, discard columns not needed etc.)
5. Analyze data
6. Generate report

## 1. Getting Data

Raw data 
* http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip

* Choose one of the following to download the raw data file from internet, then upload to the colab
> * Manually download the file to the working directory 
> * or with R function `download.file()`

In [0]:
# Fill the blanks in the download command
# download.file(" ", " ")
list.files() # List files in current folder

* Unzip with the `unzip()` function

In [0]:
# Fill the blanks in the unzip command
# unzip(" "," ")
list.files()   # List files in current folder

##2. Reading data
* R understands many different data formats and has lots of ways of reading/writing them (csv, xml, excel, sql, json etc.)

>Input | Output | Purpose
>--- | --- | ---
>read.table (read.csv) | write.table (write.csv) | for reading/writing tabular data
>readLines | writeLines | for reading/writing lines of a text file
>source | dump | for reading/writing in R code files
>dget | dput | for reading/writing in R code files
>load | save | for reading in/saving workspaces

* ` read.csv()` is identical to `read.table()` except that the default separator is a comma.

In [0]:
# Fill the blank in the read.csv command
# forbes <- read.csv(" ",header=T,stringsAsFactors = FALSE,na.strings ="?",sep=",")

##3. Inspecting data
* `class()`: check object class
* `dim()`: dimension of the data
* `head()`: print on screen the first few lines of data, may use n as argument
* `tail()`: print the last few lines of data

In [0]:
# Fill the blanks in the following commands
#class(   )
#dim(    )
#head(    ,n=50)

In [0]:
# Fill the blank in the summary command
# summary(    )

##4. Preprocess data

### 4.1 Preprocessing - missing values
* Missing values are denoted in R by NA or NaN for undefined mathematical operations.
> * `is.na(x)` is used to test objects "x" if there are NAs
> * Which one is NA? `which(is.na(x))`

In [0]:
Use one of the commands in the last session to

In [0]:
# Fill the blank to find out which ones are NAs on Sales
# which(is.na(       ))

* more about missing value inspection
> * How many NAs? `table(is.na(x))`
> * list of observations with missing values on profits `x(is.na(x),)`

In [0]:
# Fill the blank to find out how many NAs on assets
# table(     )
# Fill the blank to find out observations with missing values on profits
#

* remember many R functions also have a logical “`na.rm`” option
> * `na.rm=TRUE` means the NA values should be discarded

In [0]:
# Calculate the mean value of profits
# mean(     )  # will get NA
# mean(     )

* **Note: Not all missing values are marked with “NA” in the raw data!**

* The simplest way to deal with the missing values is to remove them. 
> * If a column (variable) has a high percentage of the missing value, remove the whole column or just don’t use it for the analysis.
> * If a row (observation) has a missing value, remove the row with `na.omit()`. e.g.

In [0]:
# remove the observations with missing values, save it to object "forbes2"
#  <- 
# find out the dimensions of forbes2
dim(forbes2)

* Alternatively, the missing values can be replaced by basic statistics e.g. 
> * replace by mean

In [17]:
for(i in 1:nrow(forbes)){
  if(is.na(forbes$profits[i])==TRUE){
  forbes$profits[i] <- mean(forbes$profits, na.rm = TRUE)
  }
}
for(i in 1:nrow(forbes)){
  if(is.na(forbes$sales[i])==TRUE){
  forbes$sales[i] <- mean(forbes$sales, na.rm = TRUE)
  }
}
for(i in 1:nrow(forbes)){
  if(is.na(forbes$assets[i])==TRUE){
  forbes$assets[i] <- mean(forbes$assets, na.rm = TRUE)
  }
}
dim(forbes)

[1] 2000    7

###4.2 Preprocessing - subsetting data
* At most occasions we do not need all of the raw data
* There are a number of methods of extracting a subset of R objects
* Subsetting data can be done either by row or by column

#### 4.2.1 Subsetting by row: use conditions
Fill the blanks to find all companies with negative profit:

In [0]:
# forbes[          ,c("name","sales","profits","assets")]

Fill the blanks to find the number of companies in each country with profits above 5 billion US dollars

In [0]:
# forbes3 <- forbes[     ,c("name","country","profits")]
# table(     )

Find three companies with largest sale volumne:

In [0]:
companies <- forbes$name  # or companies <- forbes[,"name"] 
order_sales <- order(forbes$sales, decreasing=T)
#company names
companies[order_sales[1:3]]
#company sales
head(sort(forbes$sales,decreasing=T),n=3)

Fill the blanks below to find first 50 companies in the Forbes dataset with the highest profit

In [0]:
companies <- forbes$name   
order_profit <- order(    ,      )   # order() returns the indices of the vector in sorted order
companies[order_profit[   ]]
head(   (    ,decreasing=T),   )

####4.2.2 Subsetting by row: use `subset()` function
Fill the blanks below to find all German companies with negative profit

In [0]:
# Germanycomp <- subset(    ,    )
# Germanycomp[       ,c("name","sales","profits","assets")]

##Solution
Find all German companies with negative profit

In [0]:
Germanycomp <- subset(forbes, country == "Germany")
Germanycomp[Germanycomp$profits < 0,c("name","sales","profits","assets")]

Find the number of companies in each country with profits above 5 billion US dollars

In [0]:
forbes3 <- forbes[forbes$profits > 5,c("name","country","profits")]
table(forbes3[,"country"])

Find first 50 companies in the Forbes dataset with the highest profit

In [0]:
companies <- forbes$name   
order_profit <- order(forbes$profits, decreasing=T)   # order() returns the indices of the vector in sorted order
companies[order_profit[1:50]]
head(sort(forbes$profits,decreasing=T),n=50)

####4.2.3 Subsetting by column
Create another dataframe with only numeric variables (i.e. only keep columns of sales, profits, assets and marketvalue)

In [0]:
#use data.frame function
forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

# Fill the blank below
#use subset() function
# forbes4 <- subset(         )
str(forbes4)

#or simply use indexing
# Fill the blank below
# forbes5 <- forbes[     ]
str(forbes5)

## Solution

In [0]:
#use data.frame function
# forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

#use subset() function
# forbes4 <- subset(forbes,select=c(sales,profits,assets,marketvalue))
str(forbes4)

#or simply use indexing
# forbes5 <- forbes[,c(5:8)]
str(forbes5)

### 4.3 Preprocessing – Factors
* factors are variables in R which take on a limited number of different values; such variables are often referred to as categorical variables


Convert characters to (unordered) factors:

In [0]:
forbes$country<-factor(forbes$country)
str(forbes)

* Small classes could be merged into a larger class. Why?
> * For better model performance. E.g. Classification and Regression Trees tend to split using the variables with many categories.
> * Actual needs
Some categories have just a few subjects

In [0]:
table(forbes$country)

* Merge small classes into a larger classes

Merge all South American countries to "Venezuela"

In [0]:
forbes$country[(forbes$country=="Bahamas")|(forbes$country=="Bermuda")|(forbes$country=="Brazil")|(forbes$country=="Cayman Islands")|(forbes$country=="Chile")|(forbes$country=="Panama/ United Kingdom")|(forbes$country=="Peru")]<-"Venezuela"

Merge small classes into a larger classes

In [0]:
forbes$country[(forbes$country=="Austria")|(forbes$country=="Belgium")|(forbes$country=="Czech Republic")|(forbes$country=="Denmark")|(forbes$country=="Finland")|(forbes$country=="France")|(forbes$country=="Germany")|(forbes$country=="Greece")|(forbes$country=="Hungary")|(forbes$country=="Ireland")|(forbes$country=="Italy")|(forbes$country=="Luxembourg")|(forbes$country=="Netherlands")|(forbes$country=="Norway")|(forbes$country=="Poland")|(forbes$country=="Portugal")|(forbes$country=="Russia")|(forbes$country=="Spain")|(forbes$country=="Sweden")|(forbes$country=="Switzerland")|(forbes$country=="Turkey")|(forbes$country=="France/ United Kingdom")|(forbes$country=="United Kingdom/ Netherlands")|(forbes$country=="Netherlands/ United Kingdom")]<-"United Kingdom"
forbes$country[(forbes$country=="China")|(forbes$country=="Hong Kong/China")|(forbes$country=="Indonesia")|(forbes$country=="Japan")|(forbes$country=="Kong/China")|(forbes$country=="Korea")|(forbes$country=="Malaysia")|(forbes$country=="Philippines")|(forbes$country=="Singapore")|(forbes$country=="South Korea")|(forbes$country=="Taiwan")]<-"Thailand"
forbes$country[(forbes$country=="Africa")|(forbes$country=="Australia")|(forbes$country=="India")|(forbes$country=="Australia/ United Kingdom")|(forbes$country=="Islands")|(forbes$country=="Israel")|(forbes$country=="Jordan")|(forbes$country=="Liberia")|(forbes$country=="Mexico")|(forbes$country=="New Zealand")|(forbes$country=="Pakistan")|(forbes$country=="South Africa")|(forbes$country=="United Kingdom/ Australia")]<-"United Kingdom/ South Africa"

* Drop those levels with zero counts

Use `droplevels()` function:

In [0]:
forbes$country<-droplevels(forbes$country)

Now we can check the new frequency tables:

In [0]:
table(forbes$country)

* Rename each class

In [0]:
levels(forbes$country)<-c("Canada","East/Southeast Asia","Europe","Other","United States","Latin America")
levels(forbes$country)

###4.4 Export the cleaned dataset (Important!)
* Save forbes to Forbes2000_clean.csv

In [0]:
write.csv(forbes,"Forbes2000_2019_clean.csv",row.names=FALSE)
list.files()

## 5. Data analysis

###5.2 Import the cleaned dataset (Optional)
* Subsetting by column
Create a dataframe with the clean data

In [0]:
forbes_clean <- read.csv("Forbes2000_2019_clean.csv",header=T,stringsAsFactors = T,na.strings ="?",sep=",")
str(forbes_clean)

###5.3 Extract Variables 
* Create another data frame with only numeric variables + country

Hint: Refer to 4.2.3 Subsetting by column

In [0]:
# Fill the blank below:
# forbes_clean <- 
str(forbes_clean)

###5.4 Training Set and Test Set
* Dataset could be randomly split into two parts: training set and test set.

In [0]:
set.seed(1) #set random seed reproducible
indx <- sample(1:1995,size=1995,replace=F)
forbes.train <- forbes_clean[indx[1:1600],]
forbes.test <- forbes_clean[indx[1601:1995],]

##Exercise 
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [0]:
forbes_clean2 <- forbes_clean[,c(2:5)]  # create a new dataframe with only numeric variables included
set.seed(3) 
indx <- sample(1:1995,size=1995,replace=F)
forbes.train <- forbes_clean2[indx[1:1600],]
forbes.test <- forbes_clean2[indx[1601:1995],]
str(forbes.train)

In [0]:
lm <- lm(   profits ~ . , data=forbes.train     )
summary(lm)

2. Comment on the output. For instance:  Is there a relationship between the predictors and the response?

3. Which predictors appear to have a statistically significant relationship to the response?

4. What does the coefficient for the sales variable suggest?

### Bonus questions:

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [0]:
lm2 <- lm(  profits ~     , data = forbes.train)
summary(lm2)

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [0]:
# MLR model without interactions 
lm.yhat <-  
lm.y <-  
lm.rmse <- 
lm.rmse
lm.abs = abs(    )
lm.mad = (sum( ))/395 
lm.mad

# MLR model with all interactions
lm2.yhat <-  
lm2.y <-  
lm2.rmse <- 
lm2.rmse
lm2.abs = abs(   ) 
lm2.mad = (sum(   ))/395 
lm2.mad

##Solution 
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [0]:
lm <- lm(profits ~ ., data = forbes.train)
summary(lm)

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [0]:
lm2 <- lm(profits ~ (sales + assets + marketvalue)^3, data = forbes.train)
summary(lm2)

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [0]:
# MLR model without interactions 
lm.yhat <- predict(lm, newdata = forbes.test) 
lm.y <- forbes.test["profits"] 
lm.rmse <- sqrt(mean(data.matrix((lm.y - lm.yhat)^2)))
lm.rmse
lm.abs = abs(lm.y - lm.yhat) 
lm.mad = (sum(lm.abs))/395 
lm.mad

# MLR model with all interactions
lm2.yhat <- predict(lm2, newdata = forbes.test) 
lm2.y <- forbes.test["profits"] 
lm2.rmse <- sqrt(mean(data.matrix((lm2.y - lm2.yhat)^2)))
lm2.rmse
lm2.abs = abs(lm2.y - lm2.yhat) 
lm2.mad = (sum(lm2.abs))/395 
lm2.mad

[1] 1.178624

[1] 0.4273479

[1] 1.20672

[1] 0.430437